:root {
    --main-bg-color: rgb(224, 240, 255);
    --bg-color-dark: rgb(193, 224, 252);
    --bg-color-light: rgb(255, 255, 255);
    --main-text-color: rgb(62, 129, 210);
    --elem-text-color: rgb(131, 102, 106);
    --main-elem-color: rgb(121, 181, 255);
    --main-highlight-color: rgb(155, 240, 255);
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.body {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
}

h1, h2, h3, p {
    margin-top: 0;
}

* {
    box-sizing: border-box;
}

.sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
  }