.btn {
    background-color: transparent;
    color: var(--elem-text-color);
    font-weight: 300;
    font-size: large;
    text-decoration: none;
    padding: 0.6rem;
    display: inline-block;
    border-radius: 9px;
    border: 2px solid transparent;
    bottom: 0;
    transition-property: background-color, border-color;
    transition-duration: 0.5s;
}

@media screen and (hover: hover) {
    .btn {
        cursor: pointer;
    }
    .btn:hover {
        background-color: rgba(121, 181, 255, 0.972);
        
    }
    .btn.secondary:hover {
        background-color: transparent;
        border: 2px solid rgba(121, 181, 255, 0.972);
    }
    fieldset {
        input {
            cursor: pointer;
        }
    }
}
.form-element {
    display: flex;
    flex-direction: column;
    margin-bottom: 2.1rem;
    label, legend {
        margin-bottom: 0.5rem;
        color: var(--elem-text-color);
        font-size: 1.1rem;
        font-weight: 400;
    }
    input, textarea, select {
        border: none;
        padding: 0.3rem;
        border-radius: 5px;
        background-color: var(--bg-color-light);
        color: var(--main-text-color);
        font-family: "Chewy";
    }
    input::placeholder {
        color: var(--main-elem-color);
        font-family: "Chewy";
    }
    textarea::placeholder {
        color: var(--main-elem-color);
        font-family: "Chewy";
    }
    input:focus {
        outline-color: var(--main-elem-color);
    }
    textarea:focus {
        outline-color: var(--main-elem-color);
    }
}
.radio {
    border: 2px solid rgba(143, 119, 122, 0.578);
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    legend {
    margin-bottom: 1rem;
    }
    label {
        color: var(--main-text-color);
        font-size: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1.2rem;
    }
}
.radio input[type="radio"] {
    appearance: none;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    border: 2px solid var(--main-text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
}
.radio input[type="radio"]::before {
    content: "";
    height: 0.6rem;
    width: 0.6rem;
    background-color: transparent;
    transition: all 0.3s ease;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.radio input[type="radio"]:checked::before {
    background-color: var(--main-text-color); 
    border-radius: 50%;
}
input[type="checkbox"] {
    appearance: none; 
    width: 1rem;
    height: 1rem;
    border: 2px solid var(--main-text-color); 
    border-radius: 5px;
    position: relative;
    cursor: pointer;
}
input[type="checkbox"]::before {
    content: "";
    height: 0.6rem;
    width: 0.6rem;
    background-color: transparent;
    transition: all 0.3s ease;
    border-radius: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
input[type="checkbox"]:checked::before {
    background-color: var(--main-text-color); 
    border-radius: 2px;
}